@use 'sass:map';

:root {
  @each $name, $value in $colors {
    --#{$name}: #{$value};
  }

  @each $theme, $colors in $themes {
    @each $color, $value in $colors {
      --theme-#{$theme}--#{'' + $color}: #{$value};
    }
  }

  @each $color, $value in map.get($themes, 'dark') {
    --theme-#{'' + $color}: var(--theme-dark--#{$color});
  }

  @each $class, $color in $class-colors {
    --#{$class}: var(--#{$color});
  }

  @each $rarity, $color in $rarities {
    --rarity-#{$rarity}: var(--#{$color});
  }

  --spacing: clamp(1rem, 5vw, 2rem);

  font-family: 'Lato', sans-serif;
  // font-weight: 200;
  background-color: var(--theme-body);
  color: var(--theme-text);
}

* {
  box-sizing: border-box;
}

img,
video,
picture {
  max-width: 100%;
  height: auto;
}
